/*Imports */

/*Imporrt Roboto sans-srif font from Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");


/******************* Variable *****************/
:root {
  --font-color: #FFF;          /* Main color for buttons and links */
  --primary-color: #283593;    /* Main color for headings and navigation bar */
  --secondary-color: #C5CAE9;  /* Body main color */
  --button-color:#3949AB;      /* Buttons main color */
  --highlight-1: #82B1FF;      /* Text Highlite color */
  --highlight-2: #BBDEF;      /* Text Highlite color */
  --highlight-3: #90CAF9;      /* Text Highlite color */
  --font-size: 75%;            /* Main font 16px * 75% = 12px = 1rem */
  --margin-bottom-1: 1rem;     /* Utilities */
  --margin-bottom-2: 2rem;     
  --line-height: 1.6;
}

/********************* End *********************/


/******************* CSS reset *****************/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: var(--font-size);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--primary-color);
}

body {
  font-family: "Roboto", sans-serf;;
  color: #333;
  background-color: var(--secondary-color);
}

/********************** End ********************/


/********************* Utilities ***************/

.context {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-align {
  text-align: center;
}

/* Paragraph style */

.par-1{
  font-size: 1.2rem;
  text-align: justify;
  line-height: var(--line-height);
}

.par-2 {
  font-size: 1.6rem;
  line-height: var(--line-height);
  margin-bottom: var(--margin-bottom-1);
}

/* Margins */
.header{
  margin-bottom: var(--margin-bottom-1);
}

.top {
  margin-top: 15rem;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: var(--font-color);
  font-size: 1rem;
  background-color: var(--button-color);
  border-radius: 5px;
  width: 7rem;
  margin: 0.1rem;
  transition: all .5s ease-in-out;
  opacity: 0.8;
}

.btn:hover{
  opacity: 1 ;
  background-color: #536DFE;
  color: var(--font-color);
}

/* Navigation bar */

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

nav.hide{
  display: none;
}

.links{
  float: left;
}

.links a {
  display: inline-block;
  color: var(--font-color);
  font-size: 1rem;
  padding: 1rem 2rem;
  transition: all 0.5s ease-in-out;
  background-color: var(--button-color);
  opacity: 0.8;
}

.links a:hover{
  box-shadow: inset 0 100px 0 0 #536DFE;
}

/* Scroll up icon */
.scroll-up {
  position: fixed;
  left: 90vw;
  bottom: .5%;
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--button-color);
}

/******************* End *********************/


/************** Home Page Style **************/

/* Particls */

#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

/* Main Image */
.img-home {
  max-width: 45vw;
  max-height: 45vh;
  border-radius: 50%;
  margin-bottom: var(--margin-bottom-1);
  filter: drop-shadow(0px 5px 10px black) ;
}


/* Typewrite effect style */

.typeWriter::after {
  content: "|";
  margin:0;
  color: #536DFE;
}

/********************* End ******************/



/***************** About Page ***************/

#about {
  margin-bottom: 6rem;
}

.img-about{
  width: 15rem;
  height: 15rem;
  background-image: url("../assets/img/profile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  border: 15px solid #303F9F;
  filter: drop-shadow(0px 5px 10px black);
}


.about-header {
  margin-bottom: var(--margin-bottom-1);
}


.about-header::after {
  content: "";
  display: block;
  width: 25%;
  height: 5px;
  background-color: var(--primary-color);
}

/* Heddin Paragraph */
 .hidden-p{
  display: none;
 }

 .hidden-p.show{
  display: inline;
  animation: fadein 3s; 
 }

/*Text Hughlights*/
.highlight-1 {
  background-color: var(--highlight-1);
}

.highlight-2 {
  background-color: var(--highlight-2);

}

.highlight-3 {
  background-color: var(--highlight-3);
}

/* Business Card */
.b-card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  box-shadow: 2px 2px 5px #333;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-left: .5rem solid var(--primary-color);
  border-right: .5rem solid var(--primary-color);
}

.b-card::before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  position: absolute;
  background-image: url("../assets/img/computer.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(50%);
}

.b-card-inside{
  position: relative;

}

/* Business Card code content*/
.space {
        margin-left: 2rem;
      }

.blue {
color: blue;
}

.green {
  color: darkgreen;
}

.orchid {
  color: darkorchid;
}

.cyan {
  color: cyan;
}

/* Image slider */
.slide-container {
  width: 25rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  position: relative;
  borders: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide-container h3 {
  margin-bottom: 1rem;
}


.slide-item {
  display: none;
  animation: fadein 3s;
}

.prev, .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next{
  right: 0;
  border-radius: 0 5px 5px 0;
  
}

.prev{
  left: 0;
  border-radius: 5px 0 0 5px;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  user-select: none;
  opacity: 0.8;
  background-color: var(--button-color);
}

.prev:hover, .next:hover {
  background-color: #536DFE;
}

/************************ End *******************/

/******************* Conatct Page ***************/

/* Social icons */
.socials {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

/************************End ********************/

/********************* Animation ****************/
 @keyframes fadein {
   0% {
    opacity: 0;
   }
  100% {
    opacity: 1;
   }
}

/*********************** End ********************/

/*******************  Breakpoints ***************/

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* Not Applied */

/* Medium devices (tablets, 768px and up) */
@media (min-width:768px) {

  :root{
    --font-size: 90%;
  }

  .b-card {
    width: 55%;
    padding: 1rem;
  }
  
}
  
/* Large devices (desktops, 992px and up) */
 @media (min-width:992px) {
  
  .b-card {
    width: 75%;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width:1200px) {
  
  :root{
    --font-size: 100%;
  }

  .b-card {
    width: 65%;
  }

  .top {
    margin-top: 15rem;
  }

  #about {
    margin-bottom: 10rem;
  }
}

/********************* End ******************/ 
